/*
  section.bestsellers
  ├─ div.topic
  ├─ nav.nav
  │ ├─ ul
  │ │ └─ v-for: li ─ button
  │ └─ div.control
  │   └─ button * 3
  └─ div.items
    └─ v-for: div.item
*/

.bestsellers {
  width: var(--desktop-width);
  margin: auto;
  .topic {
    height: 80px;
    display: flex; align-items: center;
    img {
      padding: 0 15px;
    }
    span {
      font-size: 24px; font-family: "OpenSans"; font-weight: bold; color: var(--black-color); text-transform: uppercase;
    }
  }
  .nav {
    height: 80px;
    padding: 0 15px;
    position: relative;
    ul {
      height: inherit;
      display: flex; align-items: center;
      list-style: none;
      li {
        &:hover { background-color: var(--white-hover-color); }
        &.active { border-bottom: 1px solid black; margin-bottom: -1px; }
        button {
          padding: 0 15px;
          font-size: 16px;
          font-family: "Segoe UI"; color: var(--black-color);
          line-height: 40px;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
    .control {
      height: inherit;
      display: flex; align-items: center;
      position: absolute; top: 0; right: 15px;
      font-family: "Segoe UI"; color: var(--black-color);
      * { 
        padding: 0 5px;
        line-height: 40px;
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .prev, .next, .search {
        font-size: 30px;
        &:hover { background-color: var(--white-hover-color); }
      }
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 280px); justify-content: space-between; align-content: start;
    row-gap: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1199px) {
  .bestsellers {
    width: var(--tablet-width);
    .items {
      grid-template-columns: repeat(3, 236px);
    }
  }
}

@media screen and (max-width: 575px) {
  // work in progress
}